.titulo{
  display: block;
  width: 200px;
  padding: 10px;
  text-align: center;
  border-style: double;
}
 
#idtitulo{
  align-items: center;
  display: flex;
  justify-content:center;
}

.dados{
  align-items: center;
  
}

.ndestaque{
  list-style-type: none;
  display: block;
  width: fit-content;
}

.destaque:hover{
  border: outset;
  display: block;
  width: fit-content;
  background-color:wheat;
}

ul{
  background-color:#bebebe;
  border:inset;
}
